.btnModal {
  display: flex;
  justify-content: center;
  width: 240px;
  padding: 10px;
  background-color: transparent;
  border-radius: 2rem;
  border: none;
  box-shadow: -10px -5px 20px rgba(255, 255, 255, 0.5);
  margin: 50px;
}

.btnModal:hover {
  box-shadow: inset -15px -15px 20px rgba(255, 255, 255, 0.5);
}

.btnClose {
  display: flex;
  position: absolute;
  top: -16px;
  right: -16px;
  border-radius: 2rem;
  border: none;
  background-color: transparent;
  font-weight: 900;
  cursor: pointer;
  font-size: 18px;
}